<div class="products-container">
  <h2>Product List</h2>

  <!-- Add Product Form -->
  <div class="add-product-form">
    <input
      type="text"
      placeholder="Product Name"
      [(ngModel)]="newProduct.name"
    />
    <input
      type="text"
      placeholder="Product Description"
      [(ngModel)]="newProduct.description"
    />
    <input
      type="number"
      placeholder="Product Price"
      [(ngModel)]="newProduct.price"
    />
    <!-- Add button to call addProduct method -->
    <button (click)="addProduct()">Add Product</button>
  </div>

  <!-- Product List -->
  <div class="products-list">
    <app-product-item
      *ngFor="let product of products; index as i"
      [product]="product"
      (delete)="deleteProduct(i)"
    ></app-product-item>
  </div>
</div>
